[Unit]
Description=Service adds additional info into slurm comment field
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/python /bin/slurm-annotator.py

[Install]
WantedBy=multi-user.target
